body {
    margin: o;
    background: #555555;
    font-family: Brandon Grotesque;
    font-weight: 500;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #ffffff;
    margin: 0px;
}

header::after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 10px 0;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding: auto, 0;
}

nav a {
    color: #4C6A75;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
}
