body {
    margin: 0;
    background: #555555;
    font-family: Brandon Grotesque;
    font-weight: 500;
    color: #4C6A75;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    color: inherit;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #ffffff;
    border: 1px solid red;
}

/* header::after {
    content: "";
    display: table;
    clear: both;
} */

.logo {
    /* float: left; */
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
}

.nav-list>*+* {
    margin-left: 1rem;
}

@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
    }
}

@media screen and (max-width: 300px) {
    .nav-list {
        flex-direction: column;
        text-align: center;

    }

    .nav-list>*+* {
        margin-left: 0;
        margin-top: 12px;
    }
}

/* nav {
    float: right;
} */

/* nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    margin-top: 17px;
} */

nav a {
    /* color: #4C6A75; */
    /* display: inline-block; */
    text-decoration: none;
    text-transform: uppercase;
}